body, html {
    /* color:#13a89e; //blue color*/
    /* color: #8f2a21; //dark red */
    /* color: #f1b78f; //coral */
    /* color: #fcb040; //yellow*/
    /* background-color: #f1b78f; */
    /* gradient looks weird when loading */
    background: linear-gradient(180deg, #f1b78f 75%, #ea7b2f 90%);
    background-repeat: no-repeat;
    margin: 0;
    border: 0;
    padding: 0;
    color: #fff;
}

/* scrollbar */
/* cool scrollbars at https://codepen.io/akinjide/pen/BpggrZ */
*::-webkit-scrollbar {
    width: 8px;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-radius: 0px;
}
*::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */
    background-image: linear-gradient( #69c7c1 44%, #13a89e 72%, #0f8880 86%);

}


.blend1 {
    color: navajowhite;
    position: relative;
    text-align: center;
    top: -1px;
    /* left: 8px; */
}
.blend2 {
    /* color: palevioletred; */
    color: #8f2a21;
    position: relative;
    top: -290px;
    left: -3px;
    mix-blend-mode: lighten;
    mix-blend-mode: darken;

}
.blend3 {
    /* color: darkturquoise; */
    color:#48928d;
    position: relative;
    top: -579px;
    left: -7px;
    mix-blend-mode: color-burn;
} 


.top {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #f1b78f;
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #13a89e;
    color: #8f2a21;
}
/* .title {
    position: absolute;
    top: 60%;
    left: 100px;
} */


#navbar {
    background-color: #13a89e;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.5em;
    margin:auto;
    overflow:hidden;
    margin-bottom: 30px;
    /* border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(119, 46, 46, 0.3); */

}
#navbar ul {
    list-style: none;
    text-align: right;
}
#navbar li {
    display:inline;
        padding-right:10px;

}
#navbar a{
    color: #f1b78f;
    text-decoration: none;
    font-size: 18px;
    padding-right:-30px;
}
.caret {
    font-size: 30px;
    top:-9px;
    float: right;
    position: relative;
    right: 5px;
}
/* added to navbar w js when scrolling */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


#background {
    /* could do div will 100% width and height */
    background-image:url(images/smile.png);
    /* the next four lines are for an actual background */
    height: 100%;
    /* still a weird line on the right side */
    width: 100%;
    /* background-size: cover; */
    background-size: 102%;
    background-position: center center;
    background-repeat: no-repeat;
}


.frank p {
    /* content: ""; */
    /* display: inline-block; */
    text-align: justify;
    text-align-last: justify;
    padding: 10px;
    word-spacing: 0.5em;
}
.frank p:first-child::first-letter {
    font-size: 40px;
    line-height: 30px;
    color: #8f2a21;
    float:left;
    padding-right: 10px;
    padding-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main-footer {
    background: #251e19;
    color:#fff;
    height: 50px;
    text-align: center;
    padding:20px;
    margin-top:0px;
}

.social {
    position: relative;
    bottom: -12px;
    float: right;
    width: 30px;
    filter: invert(100%);
    opacity: 0.9;
    margin-left: 10px;
}





#main-footer a {
    color : #f1b78f;
    border-bottom: 30px;
    font-size: 30px;
    text-decoration: none;
    line-height: 1.8em;
    text-align: center;
}


/* popup dialgo next to contact */
span {
    /* position: absolute; */
    color: 91#715b;
    cursor: pointer;
}
span:hover::before {
    opacity: 1;
}
span:before {
    content: attr(aria-label);
    opacity: 0;
    position: absolute;
    /* top:30px; */
    left:400px;
    font-size: 14px;
    /* width:100px; */
    line-height: 1.8em;
    height: 25px;
    padding: 5px;
    border: 40px;
    margin: 5px;
    Color: #fff;
    background-color: #91715b;
    border-radius: 3px;
    pointer-events: none;
    /* text-align: center; */
}

/* order of laoding items */
/* get that autorefresh program */