* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(204, 204, 204);
    overflow: hidden;
}

.orb-container {
    position: relative; 
    /* width: 80%; */
    /* width: 800px; */
    width: 80%;
    height: 80vh;
    overflow: hidden;

    display: flex;
    justify-content: space-between;
    filter: url(#gooey);

}

.circle {
    /* position: relative; */
    position: absolute;
    min-width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    filter: blur(25px);
    cursor: grab;
}

.circle:before {
    content: '';
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    border-radius: 50%;
    z-index: -1;
    filter: blur(50px);
}

.circle1, .circle1:before {
    background: linear-gradient(90deg, rgb(248, 81, 3), rgb(4, 82, 252));
}
.circle2, .circle2:before {
    background: linear-gradient(90deg, #fde507, #6c03f5);
}

.circle1 {
    animation: animate1 5s ease-in-out infinite;
}
.circle2 {
    animation: animate2 5s ease-in-out infinite;
}
@keyframes animate1 {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    40% {
        transform: translateX(0px) rotate(240deg);
    }
    50% {
        transform: translateX(0px) rotate(480deg);
    }
    100% {
        transform: translateX(0) rotate(720deg);
    }
}
@keyframes animate2 {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    40% {
        transform: translateX(0px) rotate(-240deg);
    }
    50% {
        transform: translateX(0px) rotate(-480deg);
    }
    100% {
        transform: translateX(0) rotate(-720deg);
    }
}


svg {
    width: 0;
    height: 0;
}


.drag-me {
    position: absolute;
    top: 14%;
    left: 12%;
    z-index: 5;
    color: #fff;
    opacity: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s ease-in-out;
}