body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a7afaf;
}

/* main circle */
.container-share {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(215deg, #63b7af, #347474);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* sticks */
.stick1, .stick2 {
    width: 50px;
    height: 6px;
    background-color: #35495e;
    /* transform: translate(-5px, 10px) rotate(25deg); */
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}
.stick1 {
    transform: translate(0px, 10px) rotate(25deg);
}
.stick2 {
    transform: translate(-5px, -8px) rotate(-25deg);
    position: absolute;
}

/* icons */
.container-share div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-share div i {
    /* font-style: 0; */
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

/* circles and locations */
.github, .instagram, .linkedin {
    width:17px;
    height: 17px;
    background-color: #35495e;
    border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.github {
    transform: translate(15px, -18px);
}
.instagram {
    transform: translate(-20px);
}
.linkedin {
    transform: translate(15px, 18px);
}

/* after clicked */
.github.out, .instagram.out, .linkedin.out {
    width: 100px;
    height: 100px;
}

.github.out {
    transform: translate(80px, -80px);
}
.instagram.out {
    transform: translateX(-110px);
}
.linkedin.out {
    transform: translate(80px, 80px);
}

.github.out:hover, .instagram.out:hover, .linkedin.out:hover {
    background-color: #347474;
}
.github.out:hover i, .instagram.out:hover i, .linkedin.out:hover i {
    color: rgb(221, 226, 225);
}


/* make sticks smaller */
.stick1.out, .stick2.out {
    width: 30px;
    height:5px;
}
.stick1.out {
    transform: rotate(-90deg);
}
.stick2.out {
    transform: rotate(-90deg);
}

.container-share.out {
    width: 60px;
    height: 60px;
}
/* circle color */
.container-share div i.out {
    opacity: 1;
    font-size: 55px;
    color: #ee8572;
}
