body {
    background-color:#f4f4f4;
    color:#555;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
}

.container {
    width:80%;
    margin:auto;
    /* so no scroll bars even if smthn goes out of its container */
    overflow:hidden;
}

#main-header {
    background-color: coral;
    color:#fff;
}

#navbar {
    background-color: #333;
    color:#fff;
}
#navbar ul{
    padding:0;
    list-style: none;
}
#navbar li {
    display:inline;
}
#navbar a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    padding-right:15px;
}

#showcase {
    /* should background image to zoom in/out when resize window */
    background-image:url(somehead.jpg);
    background-size: 900px;
    background-position-y: 1010px;
    /* use min so text doesnt overflow background when windows shrinks */
    min-height:200px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    color:#000;
    font-size:20px;
    line-height: 1.6em;
    padding-top:30px;
}

#main {
    float:left;
    width:60%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar {
    /* could make lower */
    float:right;
    width:40%;
    background: #212;
    color: lightcyan;
    padding: 0 30px;
    box-sizing: border-box;
}

#main-footer {
    background: #333;
    color:#fff;
    text-align: center;
    padding:20px;
    margin-top:40px;
}

/* these only act if window is less than 600px wide */
/* makes the boxes above each other, not next to */
@media(max-width:600px) {
    #main {
        width:100%;
        float:none;
    }
    #sidebar {
        width:100%;
        float:none;
    }
}