*{
margin: 0;
padding: 0;
}

section{
height: 100vh;
width: 100vw;
background: #eee;
position: relative;
max-width: 100%;
}

.a{
background: #faa;
}

.b{
background: #ffa;
}

.c{
background: #afa;
}

.d{
background: #aaf;
}

.sticky{
width: 100%;
position: fixed;
height: 100px;
background: blue;
opacity: 0.5;
bottom: 0px;
z-index: 1;
}

.ground{
    height: 1000px;
    background: black;
}


.typewriter h1 {
  text-shadow: 0 0 3px #FF0000;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }